.DateCard {
  display: grid;
  grid-template-rows: 1fr 1.5fr;

  padding: 4px;

  &_Title {
    height: 100%;

    margin: 0;
  }

  &_Content {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;

    & * {
      padding: 4px;
      margin: 0;
    }
  }
}
